.notification {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: var(--Very-light-grayish-blue);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 0 1px 2px rgba(69, 68, 68, 0.1);
}

.notification .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.notification .wrapper .message {
  color: var(--Dark-grayish-blue);
  border: 1px solid rgb(224, 223, 223);
  padding: 17px;
  margin-top: 10px;
  border-radius: 2px;
}

.notification .wrapper .message:hover {
  cursor: pointer;
  background-color: hsla(218, 14%, 63%, 0.425);
}

.notification .notification-time {
  font-size: 15px;
  color: var(--Grayish-blue);
}

.notification .avatar {
  object-fit: cover;
  width: 50px;
}

.notification .image {
  object-fit: cover;
  width: 50px;
}

.notification .notification-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.notification .notification-content div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 3px;
}

.notification .notification-content .name {
  font-weight: bold;
}

.notification .notification-content .name:hover {
  color: var(--MyBlue);
  cursor: pointer;
}

.notification .notification-content .description {
  color: var(--Grayish-blue);
}
.notification .notification-content .content {
  color: var(--Dark-grayish-blue);
  font-weight: bold;
}

.notification .notification-content .content:hover {
  color: var(--MyBlue);
  cursor: pointer;
}

.notification .notification-content .contentclub {
  color: var(--MyBlue);
  font-weight: bold;
  cursor: pointer;
}

.notification span {
  background-color: var(--MyRed);
  border-radius: 50%;
  width: 7px;
  height: 7px;
  margin-left: 5px;
}
