body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --MyRed: hsl(1, 90%, 64%);
  --MyBlue: hsl(219, 85%, 26%);
  --Very-light-grayish-blue: hsl(212, 65%, 95%);
  --Light-grayish-blue-1: hsl(211, 68%, 94%);
  --Light-grayish-blue-2: hsl(205, 33%, 90%);
  --Grayish-blue: hsl(219, 14%, 63%);
  --Dark-grayish-blue: hsl(219, 12%, 42%);
  --Very-dark-blue: hsl(224, 21%, 14%);

  background-color: var(--Light-grayish-blue-1);
}

p {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
p,
div {
  margin: 0;
  padding: 0;
}

code {
  font-family: "Plus Jakarta Sans", sans-serif;
}

@media only screen and (max-width: 375px) {
}
@media only screen and (max-width: 1440px) {
}
